.auction-card {

    -fx-background-color: white;

    -fx-background-radius: 15;

    -fx-border-radius: 15;

    -fx-border-color: #E5E7EB;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.12),
            12,
            0,
            0,
            4
    );
}

.auction-card:hover {

    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;

    -fx-cursor: hand;
}

.image-container {

    -fx-background-color: #F5F5F5;

    -fx-background-radius: 10;
}

.category-label {

    -fx-text-fill: #6B7280;

    -fx-font-size: 12px;
}

.caption {

    -fx-text-fill: #9CA3AF;
}

.price-label {

    -fx-font-size: 22px;

    -fx-font-weight: bold;

    -fx-text-fill: #E11D48;
}